.help {
  width: 59vw;
  height: 100vh;
  background: linear-gradient(0deg, rgba(101,97,201,1) 0%, rgba(65,168,222,1) 100%);
  clip-path: circle(100% at 0 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 30%;
    background-image: url("bg-decor.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__info {
    color: white;
    margin: 50px 70px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    font-size: 1.1em;
    padding: 10px 0;
  }

  &__buttons {
    display: flex;
    align-items: center;
    width: 265px;
  }

  &__button {
    background-color: #768DD3;
    color: inherit;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 2px 2px rgba(0,0,0,0.22);
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 0.7em;
    font-weight: bold;
    outline: none;
    box-sizing: border-box;

    &:first-child {
      margin-right: 10px;
    }

    &:nth-child(3) {
      margin-left: 10px;
    }
  }
}

.logo {
  height: 20px;
  width: auto;
}

.company-title {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  align-items: center;

  &__text {
    margin-left: 10px;
    color: #A9BEE5;
    font-size: 1.1em;
  }
}

@media (max-width: 1140px) {
  .help {
    clip-path: none;
  }
}

@media (max-width: 1000px) {
  .help {
    width: 100vw;
    height: 35vh;

    &__info {
      margin: 0 auto;
    }
  }
}

@media (max-width: 600px) {
  .help {
    display: none;
  }
}
